<div class="container">
	<div class="row">
		<h2 class="likes"><i class="fas fa-trophy" style="color: orange;" ></i> いいね数ランキング!! <i class="fas fa-trophy" style="color: orange;" ></i></h2>

			<h3>日間TOP4</h3>
				<% @dailyRanks.each do |post| %>
					<div class="col-sm-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<%= attachment_image_tag post,:image, :fill,230, 230, class: "profile-thumb", fallback: "" %>
								<% if post.video_url.present? %>
									<%= video_tag post.video_url.to_s,loop: true, controls: true, width: 230,  id: "mv" %>
								<% end %>
							</div>
							<div class="panel-body">
								<div>タイトル: <%= link_to post.title , post_path(post.id) %></div>
								<div>投稿者: <%= link_to post.user.username,user_path(post.user.id) %></div>
							</div>
						</div>
					</div>
				<% end %>
	</div>

	<div class="row">
				<h3>週間TOP4</h3>
					<% @weeklyRanks.each do |post| %>
						<div class="col-sm-3">
							<div class="panel panel-default">
								<div class="panel-heading">
									<%= attachment_image_tag post,:image, :fill,230, 230, class: "profile-thumb", fallback: "" %>
									<% if post.video_url.present? %>
										<%= video_tag post.video_url.to_s,loop: true, controls: true, width: 230,  id: "mv" %>
									<% end %>
								</div>
								<div class="panel-body">
									<div>タイトル: <%= link_to post.title , post_path(post.id) %></div>
									<div>投稿者: <%= link_to post.user.username,user_path(post.user.id) %></div>
								</div>
							</div>
						</div>
					<% end %>
	</div>
	<div class="row">
				<h3>月間TOP4</h3>
					<% @monthlyRanks.each do |post| %>
						<div class="col-sm-3">
							<div class="panel panel-default">
								<div class="panel-heading">
									<%= attachment_image_tag post,:image, :fill,230, 230, class: "profile-thumb", fallback: "" %>
									<% if post.video_url.present? %>
										<%= video_tag post.video_url.to_s,loop: true, controls: true, width: 230,  id: "mv" %>
									<% end %>
								</div>
								<div class="panel-body">
									<div>タイトル: <%= link_to post.title , post_path(post.id) %></div>
									<div>投稿者: <%= link_to post.user.username,user_path(post.user.id) %></div>
								</div>
							</div>
						</div>
					<% end %>
	</div>
</div>