<h2>相談一覧</h2>
	<p><%= link_to "相談する",new_concern_path %></p>
	<% @concerns.each do |concern| %>
		<%= attachment_image_tag concern,:image, :fill, 150, 150, class: "profile-thumb", fallback: "" %>
		<%= link_to concern.title , concern_path(concern.id) %>
		<%= link_to "#{concern.concern_comments.count} コメント", concern_path(concern.id) %>
		<%= concern.created_at.strftime('%Y/%m/%d') %>
		<% if concern.user_id == current_user.id %>
			<%= link_to "削除",concern_path(concern),method: :delete %>
		<% end %>
	<% end %>

	<%= paginate @concerns %>