<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<p>検索</p>
			<%= form_tag(search_path,:method => 'get') do %>
			  <%= text_field_tag :search %>
			  <%= submit_tag '検索', :name => nil %>
			<% end %>
			<div class="concern">
				<span>相談一覧</span>
				<span><%= link_to "相談する",new_concern_path %></span>
			</div>



			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<% @concerns.each do |concern| %><!--コメント機能のView -->
					<tbody>
						<tr>
							<th><%= link_to concern.title, concern %></th>
							<th><%= concern.created_at.strftime('%Y/%m/%d') %></th>
								<% if concern.user == current_user %>
									<th><%= link_to "削除",concern_path(concern),method: :delete %></th>
								<% end %>
						</tr>
					</tbody>
				<% end %>
			</table>

			<%= paginate @concerns %>
		</div>
	</div>
</div>