
<h3>質問タイトル：<%= @concern.title %></h3>
<h5>質問内容：<%= @concern.body %></h5>
<%= attachment_image_tag @concern,:image, :fill, 150, 150, class: "profile-thumb", fallback: "" %>
<div>投稿主：<%= @user.username %></div>

<table class="table">
	<thead>
		<tr>
			<th>ユーザー名</th>
			<th>コメント<%= @concern.concern_comments.count %>件</th>
			<th>コメント日時</th>
		</tr>
	</thead>
	<% @concern.concern_comments.each do |concern_comment| %><!--コメント機能のView -->
		<tbody>
			<tr>
				<th><%= concern_comment.user.username %></th>
				<th><%= concern_comment.comment %></th>
				<th><%= concern_comment.created_at.strftime('%Y/%m/%d') %></th>
			</tr>
		</tbody>
	<% end %>
</table>

<%= form_for [@concern, @concern_comment] do |f| %> <!--コメント投稿フォーム-->
	<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
	<%= f.submit "送信する" %>
<% end %>

