<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CPPT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>
    <header>
      <nav>
        <ul id="nav">
           <li><%= link_to "HOME",posts_path %>
             <%if user_signed_in? %> <!-- ユーザーがログインしている時 -->
                <li><%= link_to "ランキング", rankings_path %>
                <li><%= link_to "相談掲示板", search_path %>
                <li><%= link_to current_user.username, users_top_path %>さん
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% else %>             <!--ユーザーがログインしていない時 -->
                <li><%= link_to "ランキング", rankings_path %>
                <li><%= link_to "相談掲示板", concerns_path %>
                <li><%= link_to "新規会員登録", new_user_registration_path %>
                <li><%= link_to "ログイン",new_user_session_path  %>
            <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
